<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>bkap.demo.servlet.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentSerl</servlet-name>
        <servlet-class>bkap.demo.ws.PaymentSerl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>bkap.demo.servlet.Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayServlet</servlet-name>
        <servlet-class>bkap.demo.PayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PServlet</servlet-name>
        <servlet-class>bkap.demo.servlet.PServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PMServlet</servlet-name>
        <servlet-class>bkap.demo.servlet.PMServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>bkap.servlet.Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletReq</servlet-name>
        <servlet-class>bkap.servlet.ServletReq</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>encoding-filter</filter-name>
        <filter-class>
            org.springframework.web.filter.CharacterEncodingFilter
        </filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encoding-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentSerl</servlet-name>
        <url-pattern>/PaymentSerl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConnectorServlet</servlet-name>
        <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
        <init-param>
            <description>
                Path to configuration file can be relative path inside application,
                absolute path on local file system or UNC path.
            </description>
            <param-name>XMLConfig</param-name>
            <param-value>/WEB-INF/config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnectorServlet</servlet-name>
        <url-pattern>
            
            /jsp/ckfinder/core/connector/java/connector.java
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayServlet</servlet-name>
        <url-pattern>/PayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PServlet</servlet-name>
        <url-pattern>/PServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PMServlet</servlet-name>
        <url-pattern>/PMServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletReq</servlet-name>
        <url-pattern>/ServletReq</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
